global:
  scrape_interval: 5s

rule_files:
  - "alerts.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets:
            - "alertmanager:9093"

scrape_configs:

  - job_name: "prometheus"
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: "node-exporter"
    static_configs:
      - targets: ["192.168.0.103:9100"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["192.168.0.103:8080"]

  - job_name: "alertmanager"
    static_configs:
      - targets: ["alertmanager:9093"]
